<div class="container">
  <h1>Edit Password</h1>
  </br>
  <div class="span6" style="text-align: left">
	<form action="/users/<%= @user.slug %>/edit_password" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
		<h3> Password Change </h3>
	      <input type="password" name="new_password[password]" placeholder="Confirm Current Password">
	      <br>
	      <input type="password" name="new_password[new_pass1]" placeholder="New Password">
	      <br>
	      <input type="password" name="new_password[new_pass2]" placeholder="Confirm New Password"> 
	      <br>  
	      <input type="submit" value="Submit">
	  </form>
	</div>
</div>