<div class="container">
  <h1>Create Course</h1>
  </br>
  <div class="span6" style="text-align: left">
    <form action="/courses/create_course" method="POST">
    	<br>
    		<h3>Course Name</h3>
    		<input type="text" name="name" placeholder="Name">  
    	<br>
    		<h3>Semester</h3>
  	 		<input type="text" name="semester" placeholder="Semester"> 
      <br>
        <h3>Period</h3>
        <input type="text" name="period" placeholder="Period (i.e. 1, 2, 3, etc)"> 
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>