<div class="container">
  <h1>Edit Course</h1>
  </br>
  <div class="span6" style="text-align: left">
    <form action="/courses/<%= @course.slug %>/edit" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <h3>Name</h3>
  	  <textarea name="name"><%= @course.name %></textarea>
      <br>
      <h3>Period</h3>
      <textarea name="email"><%= @course.period %></textarea>   
      <br>  
      <input type="submit" value="Submit">
    </form>
  </div>
</div>